# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules
dist

# next.js
.next
out

# production
build

# misc
.DS_Store
*.pem

# Log files
*.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# env files
*.env*
!.env.example